.dev-box {
    column-gap: 52px;
    /*padding: 22px 12px;*/
}

.dev-box img {
    border-radius: 18px;
}

.dev-box h1 {
    font-size: 52px;
    font-weight: 500;
}

.dev-box h3 {
    font-size: 24px;
    font-weight: 500;
}

.dev-box p {
    font-weight: 300;
    font-size: 15px;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .dev-box {
        flex-wrap: wrap;
    }
}

.object-contain {
    object-fit: contain;
}