.dev-box {
    column-gap: 52px;
    /*padding: 22px 12px;*/
}

.dev-box img {
    border-radius: 18px;
}

.dev-box h1 {
    font-size: 52px;
    font-weight: 500;
}

.dev-box h3 {
    font-size: 24px;
    font-weight: 500;
}

.dev-box h5 {
    font-size: 18px;
    font-weight: 500;
}

.dev-box p {
    font-weight: 300;
    font-size: 15px;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .dev-box {
        flex-wrap: wrap;
    }
}

.object-contain {
    object-fit: contain;
}

.social-media-history {
    width: 50%;
}


.social-media-small-box {
    /*border: 1px solid black;*/
    border-radius: 12px;
    padding: 12px;
    /*box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;*/
    border: 1px solid rgba(0, 0, 0, 0.6);
    width: 24%;
    min-height: 192px;
    justify-content: space-between;
}

.social-media-small-box img {
    height: 88px;
    width: auto;
    object-fit: contain;
}

.social-media-small-box h5 {
    text-align: center;
}