.dev-box {
    column-gap: 52px;
    /*padding: 22px 12px;*/
}

.dev-box img {
    border-radius: 18px;
}

.dev-box h1 {
    font-size: 52px;
    font-weight: 500;
}

.dev-box h3 {
    font-size: 24px;
    font-weight: 500;
}

.dev-box h5 {
    font-size: 18px;
    font-weight: 500;
}

.dev-box p {
    font-weight: 300;
    font-size: 15px;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .dev-box {
        flex-wrap: wrap;
    }
}

.object-contain {
    object-fit: contain;
}

.social-media-history {
    width: 50%;
}


.social-media-small-box {
    border-radius: 12px;
    padding: 12px;
    width: 24%;
    min-height: 142px;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;

    /* Enable smooth transition on hover */
    transition: transform 0.15s ease-in-out;
    cursor: pointer; /* Change the cursor to "pointer" on hover */
}

.social-media-small-box:hover {
    transform: scale(1.05); /* Increase size by 20% */
}

.social-media-small-box img {
    height: 88px;
    width: auto;
    object-fit: contain;
}

.social-media-small-box h5 {
    text-align: center;
}

.facebook {
    background: rgb(24, 54, 242);
    background: linear-gradient(32deg, rgba(24, 54, 242, 1) 0%, rgba(24, 119, 242, 1) 0%, rgb(60, 176, 255) 100%);
}

.github {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 50%, rgb(247, 247, 249) 100%);
}

.discord {
    background: rgb(120, 128, 249);
    background: linear-gradient(90deg, rgba(120, 128, 249, 1) 0%, rgba(104, 114, 248, 1) 50%, rgba(87, 99, 246, 1) 100%);
}