@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    font-family: Sarabun, "Roboto", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #1d1d1f;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

h1, h2 {
    font-weight: 600 !important;
}

h1 {
    font-size: 62px !important;
    margin-left: 2px;
    margin-top: 32px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}

.blue-text {
    color: rgb(3, 115, 222) !important;
}

.headline {
    font-size: 80px;
    line-height: 1.05;
    font-weight: 600;
    letter-spacing: -0.015em;
}

.blur-effect {
    --colornav-backdrop-filter-opacity: 1;
    --colornav-bg-alpha: .8;
    backdrop-filter: blur(22px) saturate(1.86);
    -webkit-backdrop-filter: blur(15px) saturate(86%);
    backface-visibility: hidden;
    /*background: rgba(245, 245, 247, .82);*/
    opacity: 1;
}

main {
    /*margin-top: 52px !important;*/
    background-color: #f0f3f8;
    /*background-color: rgb(245, 245, 247) !important;*/
    /*min-height: 100vh;*/
}

.body_container {
    margin: 0 auto;
    padding: 22px;
    max-width: 1290px;
}


.container_header {
    font-size: 42px;
    margin-left: 2px;
    margin-top: 32px;
}


.top-item {
    padding-top: 65px;
}


.bg-white-light {
    background: rgba(245, 245, 247, .82) !important;
}

.container_rounded {
    /*background-color: #fff;*/
    border-radius: 22px;
    /*margin: 0 12px;*/
    min-height: 400px;
    padding: 26px !important;
}
