#navbar {
    padding: 6px !important;
    background-color: transparent;
    position: fixed !important
}

#navbar-body {
    background: rgba(245, 245, 247, 0.74);
    padding: 6px;
    border-radius: 6px;
}